.App {
  text-align: center;
}

.state-list {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.state-list th,
.state-list td {
  padding: 8px 12px;
  border: 1px solid #ccc;
}

.state-list th {
  background-color: #f2f2f2;
}

.state-list tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.state-list tbody tr:hover {
  background-color: #ddd;
}